/*colors*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --acent-color: #2196f3;
  --primary-white-color: #ffffff;
  --contact-footer-color: rgba(255, 255, 255, 0, 6);
  --background-button-color: #f5f4fa;
  --background-dark-color: #2f303a;
  --background-color-section-team: #f5f4fa;
}
/*body*/
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*list-style and text-decoration*/
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*header*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*logo*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-right: 93px;
}
.part-logo {
  color: var(--acent-color);
}
.header-logo {
  color: #000000;
}
.footer-logo {
  color: var(--primary-white-color);
}
/*navigation*/
.header-nav {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #ececec;
}
.nav-list .item {
  margin-right: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.nav-list .item:last-child {
  margin-right: 0;
}
.nav-list {
  display: flex;
}
.nav-link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link.current::after {
  content: '';

  position: absolute;
  left: -4%;
  bottom: -1px;
  border-radius: 2px;

  display: block;
  width: 108%;
  height: 4px;
  background-color: var(--acent-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--acent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: var(--acent-color);
}
/*contact */
.contact-list {
  display: flex;
  align-items: center;
}
.header-contact {
  margin-right: 30px;
}
.header-contact:last-child {
  margin-right: 0;
}
.contact-link {
  color: var(--primary-text-color);
  fill: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--acent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*hero*/

.hero-title {
  width: 696px;
  margin: 0 auto;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero {
  background-color: #c4c4c4;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/img-hero.jpg');
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* Modal */
.button-open {
  min-width: 216px;
  height: 50px;
  border: 1px solid transparent;
  padding: 10px 32px;
  border-radius: 4px;
  cursor: pointer;

  color: var(--primary-white-color);
  background-color: var(--acent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-close {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 9px;
  padding-right: 9px;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;

  background-color: var(--primary-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.button-close:hover,
.button-close:focus {
  fill: var(--acent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-white-color);

  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin: 40px 39px 12px 41px;
}
.form {
  width: 448px;
  margin: 0 39px 0 41px;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-input {
  width: 100%;
  padding: 12px 0px 12px 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-label {
  text-align: start;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.input-wrap {
  position: relative;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  translate: 0 -50%;
}
.form-input:focus {
  border: 1px solid var(--acent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
  fill: var(--acent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-textarea {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.textarea {
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}
.textarea:focus {
  border: 1px solid var(--acent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form-link {
  color: var(--acent-color);
  margin-left: 0;
  padding-left: 0;
}
.checkbox-label {
  display: flex;
  align-items: center;
  width: 423px;
  margin-left: 54px;
  margin-right: 52px;
  margin-bottom: 30px;
}
.checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.checkbox-input:checked + .checkbox {
  background-color: var(--acent-color);
  border: 2px solid var(--acent-color);
  border-radius: 2px;
}
.text-checkbox {
  font-size: 14px;
  line-height: 1.71;
  margin-left: 7px;
}
.button-submit {
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;
  margin-bottom: 40px;
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  color: #ffffff;
}
.button-submit:hover {
  background-color: #188ce8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*section*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits.section {
  padding-bottom: 0;
}
/*benefits*/
.benefits-list {
  display: flex;
}
.benefits-list > .item {
  margin-right: 30px;
}
.benefits-list > .item:last-child {
  margin-right: 0;
}
.benefits-icon {
  display: block;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;
}
.benefits-list-title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits-list-text {
  line-height: 1.71;
}
/*services and team*/
.services-list {
  display: flex;
}
.services-list .item {
  position: relative;
}
.services-text {
  position: absolute;

  bottom: 3px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.services-list > .item {
  margin-right: 30px;
}
.services-list > .item:last-child {
  margin-right: 0;
}
.title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team.section {
  background-color: var(--background-color-section-team);
}
.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list {
  display: flex;
  text-align: center;
}
.team-list-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team-list-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 30px;
}
.team-member {
  display: block;
  margin-bottom: 30px;
}
.team-list > .item {
  margin-right: 30px;
  background-color: var(--primary-white-color);
}

.team-list > .item:last-child {
  margin-right: 0;
}
.list-icon {
  display: flex;
  justify-content: center;
}
.list-icon .item-icon {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  margin-right: 10px;
  padding: 12px;
}
.social-network-link {
  fill: #afb1b8;
}
.item-icon:hover {
  background-color: var(--acent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-icon:focus-within {
  background-color: var(--acent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network-link:focus {
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-icon:hover .social-network-link {
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*clients*/
.clients-title {
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}
.list-clients {
  display: flex;
  justify-content: center;
}
.client-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
}
.client-item:last-child {
  margin-right: 0;
}
.client-link {
  fill: #afb1b8;
}
.client-item:hover,
.client-item:focus-within {
  border: 1px solid var(--acent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item:hover .client-link,
.client-link:focus {
  fill: var(--acent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  margin-top: 20px;
}
.address-text {
  color: var(--primary-white-color);
  line-height: 1.71;
  font-style: normal;
}
.footer-link {
  color: var(--contact-down-color);
  line-height: 1.71;
  font-style: normal;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--acent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer {
  background-color: var(--background-dark-color);
}
.footer-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.footer-list {
  display: flex;
}
.footer-main-item {
  margin-right: 70px;
}
.footer-secondary-item {
  margin-top: 12px;
  margin-right: 93px;
}
.footer-secondary-item:last-child {
  margin-right: 0;
}
.footer-list-icon {
  display: flex;
}
.footer-item-icon {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-item-link {
  fill: #afb1b8;
}
.footer-item-icon:hover {
  background-color: var(--acent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item-icon:hover .footer-item-link {
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item-icon:focus-within {
  background-color: var(--acent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-link:focus {
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-wrap {
  display: flex;
}
.footer-form-field {
  margin-right: 12px;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  background-color: var(--background-dark-color);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.footer-form-input:focus {
  border: 1px solid var(--acent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 28px 10px 28px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: var(--acent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: start;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.footer-button-wrap {
  position: relative;
}
.icon-send {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
/*Портфоліо*/
/*Портфоліо кнопки*/
.filter-button {
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--background-button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 6px 22px;
}
.filter-button:first-child {
  padding: 6px 25px;
}
.filter-list {
  display: flex;
  justify-content: center;
}
.filter-list .item {
  margin-right: 8px;
  margin-bottom: 50px;
}

.filter-list .item:last-child {
  margin-right: 0;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*Портфоліо картки*/
.card-portfolio:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  opacity: 0;
}
.card-portfolio:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}
.card-link:focus .overlay {
  transform: translateY(0);
  opacity: 1;
}
.card-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
}
.projects-list .item:nth-child(3n) {
  margin-right: 0;
}
.projects-list .item:nth-child(n + 7) {
  margin-bottom: 0;
}
.frame {
  border: solid 1px #eeeeee;
}
.project-image {
  display: block;
}
.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-left: 24px;
  padding-top: 24px;
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  padding-bottom: 20px;
  margin-left: 24px;

  color: var(--primary-text-color);
}
